@import url("https://use.typekit.net/xsr4whi.css");

:root {
	--text-colour:black;
    --link-colour: black;
    --highlight-colour: #FFEA00;
    --thin-line-colour: #999;
    --site-width: 90vw;
    --site-max-width: 1280px;
    --base-spacing: 14px;
}

html, body {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-colour);
    font-size: 14px;
    line-height: 24px;

    background-color: #E9E6E2;
    margin: 0px;
    padding: 0px;
}

::-moz-selection,
::selection {
    background-color: #FFFAE6;
}

* {
    position: relative;
}

.italic {
    font-style: italic;
}

.highlighted {
    background-color: var(--highlight-colour);
}

.greyed {
    opacity: 0.5;
}

a {
    color: var(--link-colour);
    opacity: 1;
}

a:hover {
    text-decoration: none;
}
h2 {
    font-weight: normal;
    margin-bottom: calc(var(--base-spacing) * 3);
}
h3 {
    font-size: 1em;
    margin-top: 0px;
}

section article {
    margin-bottom: calc(var(--base-spacing) * 3);
}

section article.two-columns {
    column-count: 2;
    column-gap: calc(var(--base-spacing) * 5);
}

/* IPHONE */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
}  



main {
    width: var(--site-width);
    max-width: var(--site-max-width);
    margin: 0px auto 0px auto;
}
.scroll_observer {
    position:absolute;
    top:10px;
}


footer {
    width: var(--site-width);
    max-width: var(--site-max-width);
    margin: 0px auto 0px auto;
    opacity: 0.5;
    text-align: center;
}