footer {
    background: black;
    color: white;
    padding-top: calc(var(--base-spacing)*5);
    padding-bottom: calc(var(--base-spacing)*1);
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}

footer .wrapper {
    width: var(--site-width);
    max-width: var(--site-max-width);
    margin: 0px auto 0px auto;
}

footer .columns.wrapper .one-column .big-copy {
    margin-top: 0px;
    padding-right: 0px;
}

footer section.website-annotation {
    width: var(--site-width);
    max-width: var(--site-max-width);
    margin: calc(var(--base-spacing) * 5) auto 0px auto;
    text-align: center;
    font-size: 12px;
    opacity: 0.2;
    cursor: default;
}

footer section.website-annotation:hover {
    opacity: 1;
}

@media only screen 
  and (max-width: 750px) {
    footer .columns.wrapper .one-column {
        margin-bottom: calc(var(--base-spacing) * 3);
    }

    footer section.website-annotation {
        text-align: left;
        opacity: 0.5;
    }
}
