section.sub-page-intro {
    background-position: center top;
    background-size: 40%;
    background-repeat: no-repeat;
    margin-top: calc(var(--base-spacing)*4);
    padding-top: calc(var(--base-spacing)*2);
}
section.sub-page-intro .columns {
    max-width: 70%;
    margin: 0px auto 0px auto;
}
@media only screen 
  and (max-width: 750px) {
    section.sub-page-intro { 
        margin-top: calc(var(--base-spacing));
        padding-top: calc(var(--base-spacing)*0.5);
    }
    section.sub-page-intro .columns {
        max-width: 100%;
    }     
}

section.sub-page-intro h1 {
    font-size: 69px;
    line-height: 80px;
    font-weight: normal;
    text-align: center;
}

@media only screen 
  and (max-width: 750px) {
    section.sub-page-intro h1 {
        line-height: 60px;
    }
}
section.sub-page-intro .big-copy {
    margin-top: 0px;
}



/* PACKAGES */

.become-member-overlay {
    position:fixed;
    background: rgba(254, 250, 232, 0.9);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;

    display: none;
     
    gap: 10px;
}
.become-member-overlay.visible {
    display: flex;
}
.become-member-overlay a {
    position: relative;
    top: -35px;
    width: auto;
    padding: 20px 30px;
    background: black;
    color: white;
    text-decoration: none;
    font-size: var(--big-haas-type);
    transition: all 130ms cubic-bezier(0.725, 0.090, 0.170, 0.980);
}

.become-member-overlay a:hover {
    transform: scale(1.03);
}

section.sub-page-intro.packages {
    background-image: url('../res/wiggle_packages.svg');
}

@media only screen 
  and (max-width: 750px) {
    section.sub-page-intro.packages {
        background-image: url('../res/wiggle_packages.svg');
        background-position: center 5vh;
        background-size: 80%;
    }
}

section.packages {
    margin-bottom: calc(var(--base-spacing)*7);
}

section.packages .columns {
    align-items: stretch;
}

section.packages .one-column {
    align-self: stretch;
    margin-bottom: calc(var(--base-spacing)*3);
}

a.package-links {
    width: auto;
}

.button.package {
    width: 100%;
    min-height: 100%;
    padding-bottom: calc(var(--base-spacing)*7);
}

.button.package:hover {
    background-color: white;
    /*transform: translateY(calc(var(--base-spacing) * -1));*/
}

.button.package .icon {
    width: calc(var(--base-spacing)*5);
    height: calc(var(--base-spacing)*5);
    margin: calc(var(--base-spacing)*3) auto calc(var(--base-spacing)*3) auto;
    transition: transform calc(var(--transition-time)*2.5) var(--easeout);
    transform: scale3d(0.7,0.7,0.7);
}

.button.package:hover .icon {
    transform: scale3d(1, 1, 1);
}

.button.package .headline {
    font-size: 30px;
    display: block;
    width: auto;
    margin-bottom: calc(var(--base-spacing)*3);
}
.button.package .headline .price {
    display: block;
    margin-top:calc(var(--base-spacing)/2);
}

.button.package:hover .headline > span:first-child {
    border-bottom: 2px solid var(--button-hover-fill);
}

.package-footer {
    position: absolute;
    width:100%;
    padding-top: calc(var(--base-spacing) - 1px);
    padding-bottom: calc(var(--base-spacing));
    bottom: 0px;
    left: 0px;
    color: white;
    background: black;
    text-align: center;

}


/* FACILITIES */

section.sub-page-intro.facilities-page { 
    background-image: url('../res/wiggle_facilities.svg');
    background-size: 30%;
    padding-bottom: calc(var(--base-spacing)*10);
}

@media only screen 
  and (max-width: 750px) {
    section.sub-page-intro.facilities-page {
        background-image: url('../res/wiggle_packages.svg');
        background-size: 80%;
        background-position: center 10vh;
    }
}
section.sub-page-intro.facilities-page .image {
    margin: calc(var(--base-spacing)*1) auto 0px auto;
    background-size: contain;
    width: 450px;
    height: 250px;    
}

@media only screen 
  and (max-width: 750px) {
    section .images {
        margin: calc(var(--base-spacing)*1) auto 0px auto !important;
        padding-top: calc(var(--base-spacing)*1) !important;
    }
    section.sub-page-intro.facilities-page .image {
        width: auto;
    }
  }

section.sub-page-intro.facilities-page .floating-image {
    bottom: calc(var(--base-spacing)*5);
    left: calc(50% - 30px);
    width: 230px;
    height: 130px;
}
.studio-and-desks .images {
    margin-top: calc(var(--base-spacing)*2.5);
    padding-top: calc(var(--base-spacing)*2.5);
}
.studio-and-desks .images .full-width-image {
    background-image: url('../images/intro-old-kitchen.jpg');
    height: 50vh;
}
.studio-and-desks .images .floating-image {
    top: 0px;
    right: 0px;
    width: 40%;
    height: 60%;
    z-index:2;
}

.full-workshop {
    margin-top: calc(var(--base-spacing)*10);
}
.full-workshop .images {
    margin-top: calc(var(--base-spacing)*8);
}
.full-workshop .images .full-width-image {
    background-image: url('../images/facilities/workshop-01.jpg');
    height: 50vh;
}
.full-workshop .images .floating-image {
    top: calc(var(--base-spacing)*-2);
    right: calc(var(--base-spacing)*-2);
    width: 150px;
    height: 220px;
}
.full-workshop .images .floating-image.second {
    top: auto;
    bottom: calc(var(--base-spacing)*-2);
    left: calc(var(--base-spacing)*-2);
    width: 300px;
    height: 160px;
}


.digital-making {
    margin-top: calc(var(--base-spacing)*10);
}
.digital-making .images {
    margin-top: calc(var(--base-spacing)*8);
}
.digital-making .images .full-width-image {
    background-image: url('../images/facilities/digispace-03.jpg');
    height: 50vh;
}
.digital-making .images .floating-image {
    top: calc(var(--base-spacing)*-2);
    left: calc(var(--base-spacing)*8);
    width: 250px;
    height: 130px;
}

.meeting-rooms {
    margin-top: calc(var(--base-spacing)*10);
}
.meeting-rooms .images {
    margin-top: calc(var(--base-spacing)*8);
}
.meeting-rooms .images .full-width-image {
    background-image: url('../images/facilities/meeting-room-01.jpg');
    height: 50vh;
}
.meeting-rooms .images .floating-image {
    top: calc(var(--base-spacing)*-2);
    left: calc(var(--base-spacing)*8);
    width: 350px;
    height: 220px;
}
.meeting-rooms .images .floating-image.second {
    top: auto;
    bottom: calc(var(--base-spacing)*-2);
    left: calc(var(--base-spacing)*22);
    width: 300px;
    height: 180px;
}

.hackney-depot {
    margin-top: calc(var(--base-spacing)*10);
}
.hackney-depot .images {
    margin-top: calc(var(--base-spacing)*8);
}
.hackney-depot .images .full-width-image {
    background-image: url('../images/facilities/facilities-page-depot.jpg');
    height: 70vh;
}
.hackney-depot .images .floating-image {
    top: calc(var(--base-spacing)*-2);
    right: calc(var(--base-spacing)*-2);
    width: 250px;
    height: 160px;
}
.hackney-depot .images .floating-image.second {
    top: auto;
    bottom: calc(var(--base-spacing)*-2);
    left: calc(50% - 125px);
    width: 250px;
    height: 160px;
}

section.sub-page-intro.besafe {
    background-image: url('../res/wiggle_besafe.svg');
    background-size: 30%;
}
@media only screen 
  and (max-width: 750px) {
    section.sub-page-intro.besafe {
        background-size: 80%;
        background-position: center 7vh;
    }
}
section.sub-page-intro.besafe h1 {
    font-weight: normal;
}

section.sub-page-intro.besafe .image {
    height: 500px;
    width: 100%;
    margin: 0 auto 0 auto;
    background-size: cover;
    background-position: center;
    margin-top: calc(var(--base-spacing) * 5);
}

.current-measures {
    margin-top: calc(var(--base-spacing)*5);
    padding-bottom: calc(var(--base-spacing)*10);
}
.current-measures .headline {
    margin-bottom: calc(var(--base-spacing)*2);
}
.current-measures ul {
    margin: calc(var(--base-spacing)*4) 0px calc(var(--base-spacing)*4) 0px;
}
.current-measures ul li {
    margin-bottom: var(--base-spacing);
}
